[package]
name = "nimiq-account"
version = "0.1.0"
authors = ["The Nimiq Core Development Team <info@nimiq.com>"]
edition = "2018"
description = "Account primitives to be used in Nimiq's Rust implementation"
homepage = "https://nimiq.com"
repository = "https://github.com/nimiq/core-rs-albatross"
license = "Apache-2.0"
categories = ["cryptography::cryptocurrencies"]
keywords = ["nimiq", "cryptocurrency", "blockchain"]

[badges]
travis-ci = { repository = "nimiq/core-rs", branch = "master" }
is-it-maintained-issue-resolution = { repository = "nimiq/core-rs" }
is-it-maintained-open-issues = { repository = "nimiq/core-rs" }
maintenance = { status = "experimental" }

[dependencies]
hex = { version = "0.4" }
lazy_static = "1.3"
log = "0.4"
parking_lot = "0.9"
rand = "0.7"
serde = { version = "1.0", optional = true }
strum_macros = "0.20"
thiserror = "1.0"

beserial = { path = "../../beserial" }
beserial_derive = { path = "../../beserial/beserial_derive" }
nimiq-bls = { path = "../../bls" }
nimiq-collections = { path = "../../collections", features = ["bitset"] }
nimiq-hash = { path = "../../hash" }
nimiq-keys = { path = "../../keys" }
nimiq-primitives = { path = "..", features = ["coin", "policy", "validators"] }
nimiq-transaction = { path = "../transaction" }
nimiq-utils = { path = "../../utils", features = ["hash-rng"] }
nimiq-vrf = { path = "../../vrf" }
nimiq-macros = { path = "../../macros" }

[dev-dependencies]
hex = "0.4"

[features]
serde-derive = ["serde"]
