[package]
name = "nimiq-account"
version.workspace = true
authors.workspace = true
license.workspace = true
edition.workspace = true
description = "Account primitives to be used in Nimiq's Albatross implementation"
homepage.workspace = true
repository.workspace = true
categories.workspace = true
keywords.workspace = true

[lints]
workspace = true

[dependencies]
hex = "0.4"
log = { workspace = true }
parking_lot = "0.12"
rand = "0.8"
serde = "1.0"
thiserror = "1.0"

nimiq-bls = { workspace = true }
nimiq-collections = { workspace = true }
nimiq-database = { workspace = true, optional = true }
nimiq-database-value = { workspace = true }
nimiq-database-value-derive = { workspace = true }
nimiq-hash = { workspace = true }
nimiq-keys = { workspace = true, features = ["serde-derive"] }
nimiq-macros = { workspace = true }
nimiq-primitives = { workspace = true, features = ["coin", "policy", "serde-derive", "slots", "tree-proof", "trie"] }
nimiq-serde = { workspace = true }
nimiq-transaction = { workspace = true }
nimiq-trie = { workspace = true, optional = true }
nimiq-utils = { workspace = true, features = ["key-rng"] }
nimiq-vrf = { workspace = true }

[dev-dependencies]
hex = "0.4"
tempfile = "3.13"

nimiq-genesis-builder = { workspace = true }
nimiq-test-log = { workspace = true }
nimiq-test-utils = { workspace = true }

[features]
accounts = ["interaction-traits", "nimiq-database", "nimiq-trie"]
default = ["accounts", "interaction-traits"]
interaction-traits = ["nimiq-database"]
