[package]
name = "nimiq-primitives"
version = "0.1.0"
authors = ["The Nimiq Core Development Team <info@nimiq.com>"]
edition = "2018"
description = "Simple primitives to be used in Nimiq's Albatross implementation"
homepage = "https://nimiq.com"
repository = "https://github.com/nimiq/core-rs-albatross"
license = "Apache-2.0"
categories = ["cryptography::cryptocurrencies"]
keywords = ["nimiq", "cryptocurrency", "blockchain"]

[badges]
travis-ci = { repository = "nimiq/core-rs", branch = "master" }
is-it-maintained-issue-resolution = { repository = "nimiq/core-rs" }
is-it-maintained-open-issues = { repository = "nimiq/core-rs" }
maintenance = { status = "experimental" }

[dependencies]
bitvec = "0.17"
hex = {version = "0.4", optional = true}
itertools = {version = "0.10", optional = true}
lazy_static = {version = "1.2", optional = true}
log = "0.4"
num-bigint = {version = "0.4.2", optional = true}
num-traits = {version = "0.2", optional = true}
parking_lot = {git = "https://github.com/styppo/parking_lot.git", optional = true}
regex = {version = "1.3", optional = true}
serde = {version = "1.0", features = ["derive"], optional = true}
strum_macros = "0.22"
thiserror = {version = "1.0.20", optional = true}

beserial = {path = "../beserial"}
beserial_derive = {path = "../beserial/beserial_derive"}
nimiq-bls = {path = "../bls", features = ["beserial"], optional = true}
nimiq-keys = {path = "../keys", optional = true}
nimiq-utils = {path = "../utils", features = ["math"], optional = true}

[dev-dependencies]
lazy_static = "1.2"

[features]
account = ["hex", "thiserror"]
all = ["account", "coin", "networks", "policy", "slots"]
coin = ["hex", "lazy_static", "num-traits", "regex", "thiserror"]
networks = ["thiserror"]
policy = ["lazy_static", "num-bigint", "nimiq-keys", "num-traits", "parking_lot"]
serde-derive = ["serde"]
slots = ["beserial/bitvec", "itertools", "nimiq-bls", "nimiq-keys", "nimiq-utils", "policy"]
