[package]
name = "nimiq-bls"
version = "0.1.0"
authors = ["Jack Grigg <str4d@i2pmail.org>", "The Nimiq Core Development Team <info@nimiq.com>"]
description = "BLS signatures"
license = "Apache-2.0"
homepage = "https://nimiq.com"
repository = "https://github.com/nimiq/core-rs-albatross"
edition = "2018"

[dependencies]
blake2-rfc = "0.2"
byteorder = "1.3.4"
thiserror = "1.0"
hex = "0.4"
log = "0.4"
parking_lot = { version = "0.11", optional = true }
rand = "0.7"
serde = { version = "1.0", features = ["derive"], optional = true }

ark-std = "^0.2"
ark-ff = "^0.2"
ark-ec = "^0.2"
ark-mnt4-753 = "^0.2"
ark-mnt6-753 = "^0.2"
ark-crypto-primitives = "^0.2"

beserial = { path = "../beserial", optional = true }
nimiq-hash = { path = "../hash" }
nimiq-utils = { path = "../utils", features = ["key-rng"] }

[features]
default = ["beserial", "lazy"]
lazy = ["parking_lot"]
serde-derive = ["serde", "beserial"]
