/cov
target
**/*.rs.bk
/.idea
*.iml
.DS_Store
*.code-workspace
/client/db
/client/peer_key.dat
/fixed-unsigned/target
/devnet-environments/*/build/
.nimiq_*
proving_keys
.zkp*/verifying_keys/*
.zkp_testing
proofs
!.zkp*/verifying_keys/merger_wrapper.bin
temp-logs
temp-state
.vscode
# Python
__pycache__/