[package]
name = "nimiq-light-blockchain"
version = "0.1.0"
authors = ["The Nimiq Core Development Team <info@nimiq.com>"]
description = "Block storage for Nimiq's Light Nodes"
license = "Apache-2.0"
homepage = "https://nimiq.com"
repository = "https://github.com/nimiq/core-rs-albatross"
edition = "2021"

[dependencies]
futures = { package = "futures-util", version = "0.3" }
log = { package = "tracing", version = "0.1", features = ["log"] }
parking_lot = "0.12"
thiserror = "1.0"
tokio = { version = "1.29", features = ["sync"] }
tokio-stream = { version = "0.1", features = ["sync"] }

nimiq-block = { path = "../primitives/block" }
nimiq-blockchain-interface = { path = "../blockchain-interface" }
nimiq-collections = { path = "../collections" }
nimiq-genesis = { path = "../genesis", default-features = false }
nimiq-hash = { path = "../hash" }
nimiq-primitives = { path = "../primitives", features = ["policy"] }
nimiq-utils = { path = "../utils", features = ["time"] }
nimiq-vrf = { path = "../vrf" }
nimiq-zkp = { path = "../zkp" }

[dev-dependencies]
nimiq-block-production = { path = "../block-production", features = ["test-utils"] }
nimiq-blockchain = { path="../blockchain" }
nimiq-test-utils = { path= "../test-utils" }
nimiq-test-log = { path = "../test-log" }
rand = "^0.8"
