[package]
name = "nimiq-zkp-circuits"
version = "0.1.0"
authors = ["The Nimiq Core Development Team <info@nimiq.com>"]
description = "Shared Circuits of Recursive SNARKs for Nimiq's Light Nodes"
license = "MIT/Apache-2.0"
homepage = "https://nimiq.com"
repository = "https://github.com/nimiq/core-rs-albatross"
edition = "2021"

[[bin]]
name = "nimiq-zkp-setup"
path = "zkp-setup/main.rs"
required-features = ["zkp-prover", "parallel"]

[dependencies]
clap = { version = "4.1", features = ["cargo", "string"] }
hex = "0.4"
log = { package = "tracing", version = "0.1", features = ["log"] }
rand = { version = "0.8", features = ["small_rng"] }
rand_chacha = "0.3.1"

ark-crypto-primitives = { version = "0.4", features = ["crh", "prf", "r1cs"] }
ark-ec = "0.4"
ark-ff = "0.4"
ark-groth16 = { version = "0.4", default-features = false }
ark-mnt4-753 = "0.4"
ark-mnt6-753 = "0.4"
ark-relations = "0.4"
ark-r1cs-std = "0.4"
ark-serialize = "0.4"
ark-std = "0.4"

nimiq-bls = { path = "../bls" }
nimiq-hash = { path = "../hash" }
nimiq-pedersen-generators = { path = "../zkp-primitives/pedersen-generators" }
nimiq-primitives = { path = "../primitives", features = ["policy"] }
nimiq-zkp-primitives = { path = "../zkp-primitives" }

[dev-dependencies]
ark-test-curves = { version = "0.4", features = ["bls12_381_curve"] }

nimiq-test-log = { path = "../test-log" }


[features]
zkp-prover = ["ark-crypto-primitives/r1cs", "ark-mnt4-753/r1cs", "ark-mnt6-753/r1cs", "ark-groth16/r1cs", "nimiq-zkp-primitives/zkp-prover"]
parallel = ["ark-crypto-primitives/parallel", "ark-ec/parallel", "ark-ff/parallel", "ark-std/parallel", "ark-groth16/parallel", "nimiq-zkp-primitives/parallel"]
