[package]
name = "nimiq-wallet"
version.workspace = true
authors.workspace = true
license.workspace = true
edition.workspace = true
description = "Wallet logic for Nimiq's Rust implementation"
homepage.workspace = true
repository.workspace = true
categories.workspace = true
keywords.workspace = true

[badges]
travis-ci = { repository = "nimiq/core-rs", branch = "master" }
maintenance = { status = "experimental" }

[lints]
workspace = true

[dependencies]
curve25519-dalek = { version = "4", features = ["digest"] }
itertools = "0.13"
serde = "1.0"
thiserror = "1.0"

nimiq-database = { workspace = true, optional = true }
nimiq-database-value = { workspace = true }
nimiq-database-value-derive = { workspace = true }
nimiq-hash = { workspace = true }
nimiq-keys = { workspace = true }
nimiq-primitives = { workspace = true }
nimiq-serde = { workspace = true }
nimiq-transaction = { workspace = true }
nimiq-utils = { workspace = true, features = ["otp"] }

[dev-dependencies]
hex = "0.4"
nimiq-test-log = { workspace = true }

[features]
default = ["store"]
store = ["nimiq-database"]
