[package]
name = "nimiq-zkp-component"
version.workspace = true
authors.workspace = true
license.workspace = true
edition.workspace = true
description = "All functionality related to the zk proof storage, dessimination and request handeling."
homepage.workspace = true
repository.workspace = true
categories.workspace = true
keywords.workspace = true

[badges]
travis-ci = { repository = "nimiq/core-rs", branch = "master" }
is-it-maintained-issue-resolution = { repository = "nimiq/core-rs" }
is-it-maintained-open-issues = { repository = "nimiq/core-rs" }
maintenance = { status = "experimental" }

[lints]
workspace = true

[[bin]]
name = "nimiq-test-prove"
required-features = ["test-prover", "tokio/rt-multi-thread"]

[dependencies]
ark-groth16 = { version = "0.4", default-features = false }
ark-mnt4-753 = "0.4"
ark-mnt6-753 = "0.4"
ark-serialize = "0.4"
async-trait = "0.1"
futures = { workspace = true }
hex = "0.4"
log = { package = "tracing", version = "0.1", features = ["log"] }
parking_lot = "0.12"
rand = "0.8"
serde = "1.0"
thiserror = "1.0"
tokio = { version = "1.37", features = ["macros", "rt", "sync"] }
tokio-stream = { version = "0.1", features = ["sync"] }
tracing-subscriber = { version = "0.3", optional = true }

nimiq-block = { workspace = true }
nimiq-blockchain = { workspace = true, optional = true }
nimiq-blockchain-interface = { workspace = true }
nimiq-blockchain-proxy = { workspace = true, default-features = false }
nimiq-database = { workspace = true, optional = true }
nimiq-database-value = { workspace = true }
nimiq-genesis = { workspace = true, default-features = false }
nimiq-hash = { workspace = true }
nimiq-keys = { workspace = true }
nimiq-log = { workspace = true, optional = true }
nimiq-network-interface = { workspace = true }
nimiq-primitives = { workspace = true, features = ["policy"] }
nimiq-serde = { workspace = true }
nimiq-transaction = { workspace = true }
nimiq-utils = { workspace = true, features = [
    "math",
    "merkle",
    "time",
] }
nimiq-zkp = { workspace = true }
nimiq-zkp-circuits = { workspace = true }
nimiq-zkp-primitives = { workspace = true }

[dev-dependencies]
tempfile = "3.10"

nimiq-bls = { workspace = true }
nimiq-genesis-builder = { workspace = true }
nimiq-keys = { workspace = true }
nimiq-network-mock = { workspace = true }
nimiq-network-libp2p = { workspace = true }
nimiq-test-log = { workspace = true }
# This adds a circular dev-dependency which is fine but breaks VS code rust-analyzer.
# See https://github.com/rust-analyzer/rust-analyzer/issues/14167
nimiq-test-utils = { workspace = true }

[features]
database-storage = ["nimiq-database"]
parallel = ["nimiq-zkp/parallel", "nimiq-zkp-circuits/parallel",  "nimiq-zkp-primitives/parallel", "ark-groth16/parallel"]
test-prover = ["nimiq-log", "zkp-prover", "tracing-subscriber"]
zkp-prover = ["nimiq-blockchain", "nimiq-blockchain-proxy/full", "nimiq-zkp/zkp-prover", "nimiq-zkp-circuits/zkp-prover", "nimiq-zkp-primitives/zkp-prover", "tokio/io-util", "tokio/process"]
