[package]
name = "nimiq-zkp-component"
version.workspace = true
authors.workspace = true
license.workspace = true
edition.workspace = true
description = "All functionality related to the zk proof storage, dessimination and request handeling."
homepage.workspace = true
repository.workspace = true
categories.workspace = true
keywords.workspace = true

[[bin]]
name = "nimiq-test-prove"
required-features = ["test-prover", "tokio/rt-multi-thread"]

[badges]
travis-ci = { repository = "nimiq/core-rs", branch = "master" }
is-it-maintained-issue-resolution = { repository = "nimiq/core-rs" }
is-it-maintained-open-issues = { repository = "nimiq/core-rs" }
maintenance = { status = "experimental" }

[dependencies]
ark-groth16 = { version = "0.4", default-features = false }
ark-mnt4-753 = "0.4"
ark-mnt6-753 = "0.4"
ark-serialize = "0.4"
async-trait = "0.1"
futures = { package = "futures-util", version = "0.3" }
hex = "0.4"
log = { package = "tracing", version = "0.1", features = ["log"] }
parking_lot = "0.12"
rand = "0.8"
serde = "1.0"
thiserror = "1.0"
tokio = { version = "1.29", features = ["macros", "rt", "sync"] }
tokio-stream = { version = "0.1", features = ["sync"] }
tracing-subscriber = { version = "0.3", optional = true }

nimiq-block = { path = "../primitives/block" }
nimiq-blockchain = { path = "../blockchain", optional = true }
nimiq-blockchain-interface = { path = "../blockchain-interface" }
nimiq-blockchain-proxy = { path = "../blockchain-proxy", default-features = false }
nimiq-database = { path = "../database", optional = true }
nimiq-database-value = { path = "../database/database-value" }
nimiq-genesis = { path = "../genesis", default-features = false }
nimiq-hash = { path = "../hash" }
nimiq-keys = { path = "../keys" }
nimiq-log = { path = "../log", optional = true }
nimiq-macros = { path = "../macros" }
nimiq-network-interface = { path = "../network-interface" }
nimiq-primitives = { path = "../primitives", features = ["policy"] }
nimiq-serde = { path = "../serde" }
nimiq-transaction = { path = "../primitives/transaction" }
nimiq-utils = { path = "../utils", features = [
    "math",
    "merkle",
    "time",
] }
nimiq-validator-network = { path = "../validator-network" }
nimiq-zkp = { path = "../zkp"}
nimiq-zkp-circuits = { path = "../zkp-circuits" }
nimiq-zkp-primitives = { path = "../zkp-primitives" }

[dev-dependencies]
tempfile = "3.3"

nimiq-block-production = { path = "../block-production" }
nimiq-bls = { path = "../bls" }
nimiq-genesis-builder = { path = "../genesis-builder" }
nimiq-keys = { path = "../keys" }
nimiq-network-mock = { path = "../network-mock" }
nimiq-network-libp2p = { path = "../network-libp2p" }
nimiq-test-log = { path = "../test-log" }
# This adds a circular dev-dependency which is fine but breaks VS code rust-analyzer.
# See https://github.com/rust-analyzer/rust-analyzer/issues/14167
nimiq-test-utils = { path = "../test-utils" }

[features]
database-storage = ["nimiq-database"]
parallel = ["nimiq-zkp/parallel", "nimiq-zkp-circuits/parallel",  "nimiq-zkp-primitives/parallel", "ark-groth16/parallel"]
test-prover = ["nimiq-log", "zkp-prover", "tracing-subscriber"]
zkp-prover = ["nimiq-blockchain", "nimiq-blockchain-proxy/full", "nimiq-zkp/zkp-prover", "nimiq-zkp-circuits/zkp-prover", "nimiq-zkp-primitives/zkp-prover", "tokio/io-util", "tokio/process"]
