[package]
name = "nimiq-validator"
version.workspace = true
authors.workspace = true
license.workspace = true
edition.workspace = true
description = "Validator logic of Albatross"
homepage.workspace = true
repository.workspace = true
categories.workspace = true
keywords.workspace = true

[badges]
travis-ci = { repository = "nimiq/core-rs", branch = "master" }
maintenance = { status = "experimental" }

[dependencies]
async-trait = "0.1"
byteorder = "1.2"
futures = { package = "futures-util", version = "0.3" }
linked-hash-map = "0.5.6"
log = { package = "tracing", version = "0.1", features = ["log"] }
parking_lot = "0.12"
rand = "0.8"
rayon = "1.7"
serde = "1.0"
tokio = { version = "1.29", features = ["rt", "time", "tracing"] }
tokio-metrics = "0.1"
tokio-stream = { version = "0.1", features = ["sync"] }

nimiq-account = { path = "../primitives/account" }
nimiq-block = { path = "../primitives/block" }
nimiq-block-production = { path = "../block-production" }
nimiq-blockchain = { path = "../blockchain" }
nimiq-blockchain-interface = { path = "../blockchain-interface" }
nimiq-bls = { path = "../bls" }
nimiq-collections = { path = "../collections" }
nimiq-consensus = { path = "../consensus" }
nimiq-database = { path = "../database" }
nimiq-database-value = { path = "../database/database-value" }
nimiq-genesis = { path = "../genesis" }
nimiq-handel = { path = "../handel" }
nimiq-hash = { path = "../hash" }
nimiq-keys = { path = "../keys" }
nimiq-macros = { path = "../macros" }
nimiq-mempool = { path = "../mempool" }
nimiq-network-interface = { path = "../network-interface" }
nimiq-primitives = { path = "../primitives" }
nimiq-serde = { path = "../serde" }
nimiq-tendermint = { path = "../tendermint" }
nimiq-transaction-builder = { path = "../transaction-builder" }
nimiq-utils = { path = "../utils", features = [
    "time",
] }
nimiq-validator-network = { path = "../validator-network" }
nimiq-vrf = { path = "../vrf" }

[dev-dependencies]
hex = "0.4"
tokio = { version = "1.29", features = ["rt", "test-util", "time", "tracing"] }
tracing-core = "0.1"
tracing-subscriber = "0.3"

nimiq-genesis-builder = { path = "../genesis-builder" }
nimiq-network-libp2p = { path = "../network-libp2p" }
nimiq-network-mock = { path = "../network-mock" }
nimiq-test-log = { path = "../test-log" }
# This adds a circular dev-dependency which is fine but breaks VS code rust-analyzer.
# See https://github.com/rust-analyzer/rust-analyzer/issues/14167
nimiq-test-utils = { path = "../test-utils" }

[features]
metrics = ["nimiq-mempool/metrics"]
trusted_push = []
