[package]
name = "nimiq-validator-network"
version = "0.1.0"
authors = ["The Nimiq Core Development Team <info@nimiq.com>"]
edition = "2021"
description = "Nimiq's validator network abstraction in Rust"
homepage = "https://nimiq.com"
repository = "https://github.com/nimiq/core-rs-albatross"
license = "Apache-2.0"
categories = ["cryptography::cryptocurrencies"]
keywords = ["nimiq", "cryptocurrency", "blockchain"]

[badges]
travis-ci = { repository = "nimiq/core-rs", branch = "master" }
is-it-maintained-issue-resolution = { repository = "nimiq/core-rs" }
is-it-maintained-open-issues = { repository = "nimiq/core-rs" }
maintenance = { status = "experimental" }

[dependencies]
async-trait = "0.1"
beserial = { path = "../beserial", features = ["libp2p"] }
beserial_derive = { path = "../beserial/beserial_derive" }
futures = "0.3"
thiserror = "1.0"
log = { package = "tracing", version = "0.1", features = ["log"] }
tokio = "1.18"

nimiq-network-interface = { path = "../network-interface" }
nimiq-bls = { path = "../bls" }
nimiq-utils = { path = "../utils", features = ["tagged-signing"] }
