[package]
name = "nimiq-network-libp2p"
version.workspace = true
authors.workspace = true
license.workspace = true
edition.workspace = true
description = "Nimiq network implementation based on libp2p"
homepage.workspace = true
repository.workspace = true
categories.workspace = true
keywords.workspace = true

[badges]
travis-ci = { repository = "nimiq/core-rs", branch = "master" }
is-it-maintained-issue-resolution = { repository = "nimiq/core-rs" }
is-it-maintained-open-issues = { repository = "nimiq/core-rs" }
maintenance = { status = "experimental" }

[dependencies]
async-trait = "0.1"
base64 = "0.21"
bitflags = "1.2"
bytes = "1.4"
futures = { package = "futures-util", version = "0.3" }
hex = "0.4"
instant = { version = "0.1", features = [ "wasm-bindgen" ] }
ip_network = "0.4"
libp2p-websys-transport = { git = "https://github.com/jsdanielh/libp2p-websys-transport.git", optional = true }
log = { package = "tracing", version = "0.1", features = ["log"] }
parking_lot = "0.12"
pin-project = "1.1"
pin-project-lite = "0.2.13"
prometheus-client = { version = "0.19.0", optional = true}
rand = "0.8"
serde = "1.0"
serde-big-array = "0.5"
thiserror = "1.0"
tokio = { version = "1.29", features = ["macros", "rt", "tracing"] }
tokio-stream = "0.1"
wasm-timer = "0.2"

nimiq-bls = { workspace = true }
nimiq-macros = { workspace = true }
nimiq-network-interface = { workspace = true }
nimiq-primitives = { workspace = true, features = ["policy"] }
nimiq-hash = { workspace = true }
nimiq-serde = { workspace = true }
nimiq-utils = { workspace = true, features = [
    "tagged-signing",
    "serde-derive",
    "libp2p",
    "time",
] }
nimiq-validator-network = { workspace = true }

[target.'cfg(not(target_family = "wasm"))'.dependencies]
libp2p = { git = "https://github.com/jsdanielh/rust-libp2p.git", default-features = false, features = [
    "gossipsub",
    "identify",
    "kad",
    "macros",
    "noise",
    "ping",
    "request-response",
    "serde",
    "yamux",
] }

[target.'cfg(target_family = "wasm")'.dependencies]
libp2p = { git = "https://github.com/jsdanielh/rust-libp2p.git", default-features = false, features = [
    "gossipsub",
    "identify",
    "kad",
    "macros",
    "noise",
    "ping",
    "request-response",
    "serde",
    "yamux",
    "wasm-bindgen",
] }

[dev-dependencies]
# In dev/testing we require more tokio features
tokio = { version = "1.29", features = ["macros", "rt", "rt-multi-thread", "test-util", "tracing"] }

nimiq-test-log = { workspace = true }

[features]
metrics = ["prometheus-client"]
tokio-time = ["tokio/time"]
tokio-websocket = ["libp2p/dns", "libp2p/tcp", "libp2p/tokio", "libp2p/websocket"]
wasm-websocket = ["libp2p-websys-transport"]
