[package]
name = "nimiq-network-libp2p"
version = "0.1.0"
authors = ["The Nimiq Core Development Team <info@nimiq.com>"]
edition = "2018"
description = "Nimiq network implementation based on libp2p"
homepage = "https://nimiq.com"
repository = "https://github.com/nimiq/core-rs-albatross"
license = "Apache-2.0"
categories = ["cryptography::cryptocurrencies"]
keywords = ["nimiq", "cryptocurrency", "blockchain"]

[badges]
travis-ci = { repository = "nimiq/core-rs", branch = "master" }
is-it-maintained-issue-resolution = { repository = "nimiq/core-rs" }
is-it-maintained-open-issues = { repository = "nimiq/core-rs" }
maintenance = { status = "experimental" }

[dependencies]
async-std = "1.7" # Used in some places, but can we not depend on a runtime?
async-trait = "0.1"
bitflags = "1.2"
bytes = "1.0"
derive_more = "0.99"
futures = "0.3"
hex = "0.4"
ip_network = "0.3"
libp2p = { version = "0.39", features = ["dns-tokio"] }
log = "0.4"
parking_lot = "0.11"
pin-project = "1.0"
pin-project-lite = "0.2.0"
rand = "0.7.3"
serde = { version = "1.0", features = ["derive"], optional = true }
thiserror = "1.0"
tokio = { version = "1.9", features = ["macros", "rt"] }
tokio-stream = "0.1"
tokio-util = { version = "0.6", features = ["codec"] }
tracing = "0.1"
tracing-attributes = "0.1"
wasm-timer = "0.2"

beserial = { path = "../beserial", features = ["libp2p"] }
beserial_derive = { path = "../beserial/beserial_derive" }
nimiq-macros = { path = "../macros" }
nimiq-network-interface = { path = "../network-interface" }
nimiq-hash = { path = "../hash" }
nimiq-utils = { path = "../utils", features = ["tagged-signing", "serde-derive", "libp2p", "time"] }

[dev-dependencies]
tracing-subscriber = "0.2"

[features]
default = ["peer-contact-book-persistence"]
peer-contact-book-persistence = ["serde"]
memory-transport = []
