[package]
name = "nimiq-network-libp2p"
version.workspace = true
authors.workspace = true
license.workspace = true
edition.workspace = true
description = "Nimiq network implementation based on libp2p"
homepage.workspace = true
repository.workspace = true
categories.workspace = true
keywords.workspace = true

[badges]
travis-ci = { repository = "nimiq/core-rs", branch = "master" }
is-it-maintained-issue-resolution = { repository = "nimiq/core-rs" }
is-it-maintained-open-issues = { repository = "nimiq/core-rs" }
maintenance = { status = "experimental" }

[lints]
workspace = true

[dependencies]
async-trait = "0.1"
base64 = "0.22"
bytes = "1.6"
futures = { package = "futures-util", version = "0.3" }
hex = "0.4"
instant = { version = "0.1", features = [ "wasm-bindgen" ] }
ip_network = "0.4"
log = { package = "tracing", version = "0.1", features = ["log"] }
parking_lot = "0.12"
pin-project = "1.1"
pin-project-lite = "0.2.10"
prometheus-client = { version = "0.22.2", optional = true}
rand = "0.8"
serde = "1.0"
serde-big-array = "0.5"
sha2 = "0.10"
thiserror = "1.0"
tokio = { version = "1.37", features = ["macros", "rt", "tracing"] }
tokio-stream = "0.1"
unsigned-varint = "0.8"
void = "1.0"
wasm-timer = "0.2"

nimiq-bls = { workspace = true }
nimiq-macros = { workspace = true }
nimiq-network-interface = { workspace = true }
nimiq-primitives = { workspace = true, features = ["policy"] }
nimiq-hash = { workspace = true }
nimiq-serde = { workspace = true }
nimiq-utils = { workspace = true, features = [
    "tagged-signing",
    "libp2p",
    "time",
] }
nimiq-validator-network = { workspace = true }

[target.'cfg(not(target_family = "wasm"))'.dependencies]
libp2p = { version = "0.53.2", default-features = false, features = [
    "autonat",
    "gossipsub",
    "kad",
    "macros",
    "noise",
    "ping",
    "request-response",
    "serde",
    "tokio",
    "yamux",
] }

[target.'cfg(target_family = "wasm")'.dependencies]
libp2p = { version = "0.53.2", default-features = false, features = [
    "autonat",
    "gossipsub",
    "kad",
    "macros",
    "noise",
    "ping",
    "request-response",
    "serde",
    "yamux",
    "wasm-bindgen",
    "websocket-websys",
] }

[dev-dependencies]
# In dev/testing we require more tokio features
tokio = { version = "1.37", features = ["macros", "rt", "rt-multi-thread", "test-util", "time", "tracing"] }

nimiq-test-log = { workspace = true }
nimiq-test-utils = { workspace = true }

[features]
default = ["tokio-time"]
metrics = ["prometheus-client"]
tokio-time = ["tokio/time"]
tokio-websocket = ["libp2p/dns", "libp2p/tcp", "libp2p/tokio", "libp2p/websocket"]
