version: "3.5"

networks:
  devnet:
    name: ${NETWORK_NAME:?err}
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 7.0.0.0/24

services:
  seed0:
    image: core:latest
    environment:
      - LISTEN_ADDRESSES=/ip4/7.0.0.99/tcp/8443/ws
      - NIMIQ_HOST=seed0.${NETWORK_NAME:?err}
      - NIMIQ_NETWORK=dev-albatross
      - NIMIQ_PEER_KEY_FILE=/home/nimiq/.nimiq/peer_key.dat
      - NIMIQ_INSTANT_INBOUND=true
      - RPC_ENABLED=true
      - RUST_BACKTRACE="1"
      - NIMIQ_LOG_LEVEL=debug
      - NIMIQ_LOG_TIMESTAMPS=true
    networks:
      devnet:
        ipv4_address: 7.0.0.99
    volumes:
      - "seed0:/home/nimiq/.nimiq:rw"

{% for validator in validators %}
  validator{{ validator['idx'] + 1 }}:
    image: core:latest
    depends_on:
      - seed0
    environment:
      - LISTEN_ADDRESSES=/ip4/{ip}/tcp/8443/ws
      - NIMIQ_HOST=seed{{ validator['idx'] + 1 }}.${{NETWORK_NAME:?err}}
      - NIMIQ_NETWORK=dev-albatross
      - NIMIQ_SEED_NODES=/ip4/7.0.0.99/tcp/8443/ws
      - NIMIQ_PEER_KEY_FILE=/home/nimiq/.nimiq/peer_key.dat
      - NIMIQ_INSTANT_INBOUND=true
      - NIMIQ_VALIDATOR=validator
      - VALIDATOR_ADDRESS={{ validator['validator_address'] }}
      - SIGNING_KEY={{ validator['signing_key'] }}
      - VOTING_KEY={{ validator['voting_key'] }}
      - FEE_KEY={{ validator['fee_key'] }}
      - RPC_ENABLED=true
      - RUST_BACKTRACE="1"
      - NIMIQ_LOG_LEVEL=debug
      - NIMIQ_LOG_TIMESTAMPS=true
    networks:
      devnet:
        ipv4_address: 7.0.0.{{ validator['idx'] + 2}}
    volumes:
      - "validator{{ validator['idx'] + 1 }}:/home/nimiq/.nimiq:rw"
{% endfor %}

{% for spammer in spammers %}
  spammer{{ spammer['idx'] + 1 }}:
    image: spammer:latest
    depends_on:
      - seed0
    environment:
      - LISTEN_ADDRESSES=/ip4/7.0.0.98/tcp/8443/ws
      - NIMIQ_HOST=spammer.${NETWORK_NAME:?err}
      - NIMIQ_NETWORK=dev-albatross
      - NIMIQ_SEED_NODES=/ip4/7.0.0.99/tcp/8443/ws
      - NIMIQ_PEER_KEY_FILE=/home/nimiq/.nimiq/peer_key.dat
      - NIMIQ_INSTANT_INBOUND=true
      - NIMIQ_VALIDATOR=validator
      - VALIDATOR_ADDRESS=NQ0700000000000000000000000000000000
      - RPC_ENABLED=true
      - RUST_BACKTRACE="1"
      - NIMIQ_LOG_LEVEL=info
      - NIMIQ_LOG_TIMESTAMPS=true
    networks:
      devnet:
        ipv4_address: 7.0.0.{{ spammer['idx'] + 98 }}
    volumes:
      - "spammer{{ spammer['idx'] + 1 }}:/home/nimiq/.nimiq:rw"\n""")
{% endfor %}
 
 {% if albagen is defined %}
  albagen:
    image: albagen:latest
    networks:
      devnet:
        ipv4_address: 7.0.0.97
    volumes:
      - "albagen"
{% endif %}

volumes:
  albagen
{% for spammer in spammers %}
  spammer{{ spammer['idx'] + 1 }}:
{% endfor %}    
  seed0:
{% for validator in validators %}
  validator{{ validator['idx'] + 1 }}
{% endfor %}