version: "3.8"

networks:
  devnet:
    name: {{ network_name }}
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 7.0.0.0/24

services:
{% for seed in seeds %}
  {{ seed['name'] }}:
    image: {{ seed['container_image'] }}
    environment:
      - NIMIQ_OVERRIDE_DEVNET_CONFIG={{ internal_genesis_file }}
    ports:
      - "{{ loop.index + 8400 }}:8443"
    networks:
      devnet:
        ipv4_address: 7.0.0.{{ loop.index + 99 }}
    volumes:
      - {{ seed['conf_path'] }}:/home/nimiq/.nimiq:rw
      - {{ external_genesis_file }}:{{ internal_genesis_file }}:ro

{% endfor %}
{% for validator in validators %}
  {{ validator['name'] }}:
    image: {{ validator['container_image'] }}
    depends_on:
      - seed1
    environment:
      - NIMIQ_OVERRIDE_DEVNET_CONFIG={{ internal_genesis_file }}
    ports:
      - "{{ loop.index + 8500 }}:8443"
    networks:
      devnet:
        ipv4_address: 7.0.0.{{ loop.index + 1}}
    volumes:
      - {{ validator['conf_path'] }}:/home/nimiq/.nimiq:rw
      - {{ external_genesis_file }}:{{ internal_genesis_file }}:ro

{% endfor %}
{% for regular_node in regular_nodes %}
  {{ regular_node['name'] }}:
    image: {{ regular_node['container_image'] }}
    environment:
      - NIMIQ_OVERRIDE_DEVNET_CONFIG={{ internal_genesis_file }}
    ports:
      - "{{ loop.index + 8600 }}:8443"
    networks:
      devnet:
        ipv4_address: 7.0.0.{{ loop.index + 99 }}
    volumes:
      - {{ regular_node['conf_path'] }}:/home/nimiq/.nimiq:rw
      - {{ external_genesis_file }}:{{ internal_genesis_file }}:ro

{% endfor %}
{% for spammer in spammers %}
  {{ spammer['name'] }}:
    image: {{ spammer['container_image'] }}
    depends_on:
      - seed1
    environment:
      - NIMIQ_OVERRIDE_DEVNET_CONFIG={{ internal_genesis_file }}
    ports:
      - "{{ loop.index + 8700 }}:8443"
    networks:
      devnet:
        ipv4_address: 7.0.0.{{ loop.index + 199 }}
    volumes:
      - {{ spammer['conf_path'] }}:/home/nimiq/.nimiq:rw
      - {{ external_genesis_file }}:{{ internal_genesis_file }}:ro

{% endfor %}
{% if albagen is defined %}
  albagen:
    image: albagen:latest
    networks:
      devnet:
        ipv4_address: 7.0.0.197
    volumes:
      - "albagen"

volumes:
  albagen
{% endif %}
