[package]
name = "nimiq-transaction-builder"
version = "0.1.0"
authors = ["The Nimiq Core Development Team <info@nimiq.com>"]
edition = "2021"
description = "Wallet logic for Nimiq's Rust implementation"
homepage = "https://nimiq.com"
repository = "https://github.com/nimiq/core-rs-albatross"
license = "Apache-2.0"

[badges]
travis-ci = { repository = "nimiq/core-rs", branch = "master" }
maintenance = { status = "experimental" }

[dependencies]
serde = { version = "1.0", features = ["derive"], optional = true }
thiserror = "1.0"

nimiq-bls = { path = "../bls" }
nimiq-hash = { path = "../hash" }
nimiq-keys = { path = "../keys" }
nimiq-primitives = { path = "../primitives" }
nimiq-serde = { path = "../serde" }
nimiq-transaction = { path = "../primitives/transaction" }

[dev-dependencies]
hex = "0.4"
rand = "0.8"

nimiq-test-log = { path = "../test-log" }
nimiq-utils = { path = "../utils", features = ["otp", "key-rng"]}


[features]
serde-derive = ["serde", "nimiq-primitives/serde-derive"]
