[package]
name = "nimiq-metrics-server"
version = "0.1.0"
authors = ["The Nimiq Core Development Team <info@nimiq.com>"]
license = "Apache-2.0"
edition = "2018"
description = "Prometheus metrics server for the Nimiq Rust implementation"
homepage = "https://nimiq.com"
repository = "https://github.com/nimiq/core-rs-albatross"
categories = ["cryptography::cryptocurrencies"]
keywords = ["nimiq", "cryptocurrency", "blockchain"]

[badges]
travis-ci = { repository = "nimiq/core-rs", branch = "master" }
is-it-maintained-issue-resolution = { repository = "nimiq/core-rs" }
is-it-maintained-open-issues = { repository = "nimiq/core-rs" }
maintenance = { status = "experimental" }

[dependencies]
base64 = "0.10"
futures = "0.1"
hyper = "0.12.36"
log = "0.4"
native-tls = "0.2"
thiserror = "1.0"
tokio = "0.1"
tokio-tls = "0.2"

beserial = { path = "../beserial" }
nimiq-block = { path = "../primitives/block" }
nimiq-blockchain = { path = "../blockchain", features = ["metrics"] }
nimiq-consensus = { path = "../consensus" }
nimiq-mempool = { path = "../mempool" }
nimiq-network-interface = { path = "../network-interface" }
