[package]
name = "nimiq-vrf"
version.workspace = true
authors.workspace = true
license.workspace = true
edition.workspace = true
description = "Verifiable Random Function based on VXEdDSA"
homepage.workspace = true
repository.workspace = true
categories.workspace = true
keywords.workspace = true

[lints]
workspace = true

[dependencies]
byteorder = "1.5"
curve25519-dalek = { version = "4", features = ["digest"] }
hex = "0.4"
log = { package = "tracing", version = "0.1", features = ["log"] }
rand = "0.8"
serde = { version = "1.0", optional = true }
sha2 = "0.10"

nimiq-hash = { workspace = true }
nimiq-keys = { workspace = true }
nimiq-macros = { workspace = true }
nimiq-serde = { workspace = true, optional = true }

[dev-dependencies]
nimiq-test-log = { workspace = true }
nimiq-test-utils = { workspace = true }

[features]
serde-derive = ["nimiq-serde", "serde"]
