[package]
authors = ["The Nimiq Core Development Team <info@nimiq.com>"]
description = "Verifiable Random Function based on VXEdDSA"
documentation = "https://github.com/nimiq/core-rs-albatross"
homepage = "https://github.com/nimiq/core-rs-albatross"
license = "MIT/Apache-2.0"
name = "nimiq-vrf"
repository = "https://github.com/nimiq/core-rs-albatross"
version = "0.1.0"
edition = "2021"

[dependencies]
byteorder = "1.3"
curve25519-dalek = "3"
hex = "0.4"
log = { package = "tracing", version = "0.1", features = ["log"] }
num-traits = "0.2"
rand = "0.8"
serde = { version = "1.0", features = ["derive"], optional = true }
serde-big-array = { version = "0.5.1", optional = true }
sha2 = "0.9"

nimiq-hash = { path = "../hash" }
nimiq-keys = { path = "../keys" }
nimiq-macros = { path = "../macros" }
nimiq-serde = { path = "../serde", optional = true }

[dev-dependencies]
nimiq-test-log = { path = "../test-log" }
nimiq-test-utils = { path = "../test-utils" }

[features]
serde-derive = ["nimiq-serde", "serde", "serde-big-array"]
