[package]
authors = ["The Nimiq Core Development Team <info@nimiq.com>"]
description = "Verifiable Random Function based on VXEdDSA"
documentation = "https://github.com/nimiq/core-rs-albatross"
homepage = "https://github.com/nimiq/core-rs-albatross"
license = "MIT/Apache-2.0"
name = "nimiq-vrf"
repository = "https://github.com/nimiq/core-rs-albatross"
version = "0.1.0"
edition = "2021"

[dependencies]
byteorder = "1.3"
curve25519-dalek = "3"
hex = "0.4"
log = "0.4"
num-traits = "0.2"
rand = "0.8"
serde = { version = "1.0", features = ["derive"], optional = true }
serde-big-array = { version = "0.3.2", optional = true }
sha2 = "0.10"

beserial = { path = "../beserial" }
nimiq-hash = { path = "../hash" }
nimiq-keys = { path = "../keys" }
nimiq-macros = { path = "../macros" }

[features]
serde-derive = ["serde", "serde-big-array"]