[package]
name = "nimiq-mempool"
version = "0.1.0"
authors = ["The Nimiq Core Development Team <info@nimiq.com>"]
edition = "2018"
description = "Mempool implementation for Nimiq"
homepage = "https://nimiq.com"
repository = "https://github.com/nimiq/core-rs-albatross"
license = "Apache-2.0"
categories = ["cryptography::cryptocurrencies"]
keywords = ["nimiq", "cryptocurrency", "blockchain"]

[badges]
travis-ci = { repository = "nimiq/core-rs", branch = "master" }
is-it-maintained-issue-resolution = { repository = "nimiq/core-rs" }
is-it-maintained-open-issues = { repository = "nimiq/core-rs" }
maintenance = { status = "experimental" }

[dependencies]
log = "0.4"
parking_lot = { git = "https://github.com/styppo/parking_lot.git" }
futures = "0.3"
futures-lite = "1.12.0"
keyed_priority_queue = "0.3.2"
tokio = { version = "1.14", features = ["full"] }
tokio-stream = { version = "0.1", features = ["sync"] }
simple_logger = "1.0"
beserial = { path = "../beserial" }
nimiq-account = { path = "../primitives/account" }
nimiq-block = { path = "../primitives/block" }
nimiq-blockchain = { path = "../blockchain" }
nimiq-collections = { path = "../collections" }
nimiq-database = { path = "../database" }
nimiq-hash = { path = "../hash" }
nimiq-keys = { path = "../keys" }
nimiq-primitives = { path = "../primitives", features = ["coin", "networks"] }
nimiq-network-interface = { path = "../network-interface" }
nimiq-transaction = { path = "../primitives/transaction" }
nimiq-utils = { path = "../utils", features = ["observer", "mutable-once"] }

[dev-dependencies]
hex = "0.4"
rand = "0.8"
simple_logger = "1.0"

nimiq-block = { path = "../primitives/block" }
nimiq-blockchain = { path = "../blockchain" }
nimiq-bls = { path = "../bls" }
nimiq-build-tools = { path = "../build-tools" }
nimiq-database = { path = "../database" }
nimiq-genesis = { path = "../genesis" }
nimiq-network-mock = { path = "../network-mock" }
nimiq-vrf = { path = "../vrf" }
