[package]
name = "nimiq-mempool"
version = "0.1.0"
authors = ["The Nimiq Core Development Team <info@nimiq.com>"]
edition = "2021"
description = "Mempool implementation for Nimiq"
homepage = "https://nimiq.com"
repository = "https://github.com/nimiq/core-rs-albatross"
license = "Apache-2.0"
categories = ["cryptography::cryptocurrencies"]
keywords = ["nimiq", "cryptocurrency", "blockchain"]

[badges]
travis-ci = { repository = "nimiq/core-rs", branch = "master" }
is-it-maintained-issue-resolution = { repository = "nimiq/core-rs" }
is-it-maintained-open-issues = { repository = "nimiq/core-rs" }
maintenance = { status = "experimental" }

[dependencies]
log = { package = "tracing", version = "0.1", features = ["log"] }
parking_lot = { git = "https://github.com/styppo/parking_lot.git" }
futures = "0.3"
keyed_priority_queue = "0.4"
tokio = { version = "1.18", features = ["full", "tracing"] }
tokio-stream = { version = "0.1", features = ["sync"] }
beserial = { path = "../beserial" }
nimiq-account = { path = "../primitives/account" }
nimiq-block = { path = "../primitives/block" }
nimiq-blockchain = { path = "../blockchain" }
nimiq-collections = { path = "../collections" }
nimiq-database = { path = "../database" }
nimiq-hash = { path = "../hash" }
nimiq-keys = { path = "../keys" }
nimiq-primitives = { path = "../primitives", features = ["coin", "networks"] }
nimiq-network-interface = { path = "../network-interface" }
nimiq-transaction = { path = "../primitives/transaction" }
nimiq-utils = { path = "../utils", features = ["observer", "mutable-once"] }

[dev-dependencies]
hex = "0.4"
rand = "0.8"

nimiq-block = { path = "../primitives/block" }
nimiq-blockchain = { path = "../blockchain" }
nimiq-block-production = { path = "../block-production" }
nimiq-bls = { path = "../bls" }
nimiq-database = { path = "../database" }
nimiq-genesis = { path = "../genesis" }
nimiq-genesis-builder = { path = "../genesis-builder" }
nimiq-network-mock = { path = "../network-mock" }
nimiq-test-log = { path = "../test-log" }
nimiq-test-utils = { path = "../test-utils" }
nimiq-transaction-builder = { path = "../transaction-builder" }
nimiq-vrf = { path = "../vrf" }
