[package]
name = "nimiq-mempool"
version.workspace = true
authors.workspace = true
license.workspace = true
edition.workspace = true
description = "Mempool implementation for Nimiq"
homepage.workspace = true
repository.workspace = true
categories.workspace = true
keywords.workspace = true

[badges]
travis-ci = { repository = "nimiq/core-rs", branch = "master" }
is-it-maintained-issue-resolution = { repository = "nimiq/core-rs" }
is-it-maintained-open-issues = { repository = "nimiq/core-rs" }
maintenance = { status = "experimental" }

[dependencies]
futures = { package = "futures-util", version = "0.3" }
keyed_priority_queue = "0.4"
linked-hash-map = "0.5.6"
log = { package = "tracing", version = "0.1", features = ["log"] }
parking_lot = "0.12"
prometheus-client = { version = "0.19.0", optional = true}
serde = "1.0"
thiserror = "1.0"
tokio = { version = "1.29", features = ["rt", "rt-multi-thread", "sync", "tracing"] }
tokio-metrics = "0.1"
tokio-stream = { version = "0.1", features = ["sync"] }

nimiq-account = { path = "../primitives/account" }
nimiq-block = { path = "../primitives/block" }
nimiq-blockchain = { path = "../blockchain" }
nimiq-blockchain-interface = { path = "../blockchain-interface" }
nimiq-database = { path = "../database" }
nimiq-hash = { path = "../hash" }
nimiq-keys = { path = "../keys" }
nimiq-primitives = { path = "../primitives", features = ["coin", "networks"] }
nimiq-network-interface = { path = "../network-interface" }
nimiq-serde = { path = "../serde" }
nimiq-transaction = { path = "../primitives/transaction" }
nimiq-utils = { path = "../utils", features = ["time"] }

[dev-dependencies]
hex = "0.4"
rand = "0.8"

nimiq-block = { path = "../primitives/block" }
nimiq-blockchain = { path = "../blockchain" }
nimiq-block-production = { path = "../block-production" }
nimiq-bls = { path = "../bls" }
nimiq-database = { path = "../database" }
nimiq-genesis = { path = "../genesis" }
nimiq-genesis-builder = { path = "../genesis-builder" }
nimiq-network-mock = { path = "../network-mock" }
nimiq-test-log = { path = "../test-log" }
nimiq-test-utils = { path = "../test-utils" }
nimiq-transaction-builder = { path = "../transaction-builder" }
nimiq-vrf = { path = "../vrf" }

[features]
metrics = ["prometheus-client"]
