[package]
name = "nimiq-mempool"
version = "0.1.0"
authors = ["The Nimiq Core Development Team <info@nimiq.com>"]
edition = "2018"
description = "Mempool implementation for Nimiq"
homepage = "https://nimiq.com"
repository = "https://github.com/nimiq/core-rs-albatross"
license = "Apache-2.0"
categories = ["cryptography::cryptocurrencies"]
keywords = ["nimiq", "cryptocurrency", "blockchain"]

[badges]
travis-ci = { repository = "nimiq/core-rs", branch = "master" }
is-it-maintained-issue-resolution = { repository = "nimiq/core-rs" }
is-it-maintained-open-issues = { repository = "nimiq/core-rs" }
maintenance = { status = "experimental" }

[dependencies]
log = "0.4"
parking_lot = "0.11"

beserial = { path = "../beserial" }
nimiq-account = { path = "../primitives/account" }
nimiq-block = { path = "../primitives/block" }
nimiq-blockchain = { path = "../blockchain" }
nimiq-collections = { path = "../collections" }
nimiq-database = { path = "../database" }
nimiq-hash = { path = "../hash" }
nimiq-keys = { path = "../keys" }
nimiq-primitives = { path = "../primitives", features = ["coin", "networks"] }
nimiq-transaction = { path = "../primitives/transaction" }
nimiq-utils = { path = "../utils", features = ["observer", "timers", "mutable-once"] }

[dev-dependencies]
hex = "0.4"

nimiq-block = { path = "../primitives/block" }
nimiq-blockchain = { path = "../blockchain" }
nimiq-database = { path = "../database" }
nimiq-genesis = { path = "../genesis" }
