[package]
name = "nimiq-tendermint"
version = "0.1.0"
authors = ["The Nimiq Core Development Team <info@nimiq.com>"]
edition = "2021"
description = "Tendermint implementation for Nimiq's Albatross"
homepage = "https://nimiq.com"
repository = "https://github.com/nimiq/core-rs-albatross"
license = "Apache-2.0"

[dependencies]
futures = { package = "futures-util", version = "0.3" }
log = { package = "tracing", version = "0.1", features = ["log"] }
serde = { version = "1.0", features = ["derive"] }
thiserror = "1.0"
tokio = { version = "1.29", features = [
    "macros",
    "rt-multi-thread",
    "tracing",
] }
tokio-stream = "0.1"

nimiq-block = { path = "../primitives/block" }
nimiq-collections = { path = "../collections" }
nimiq-hash = { path = "../hash" }
nimiq-macros = { path = "../macros" }
nimiq-primitives = { path = "../primitives", features = ["policy"] }

[dev-dependencies]
nimiq-test-log = { path = "../test-log" }
tokio = { version = "1.29", features = [
    "macros",
    "rt-multi-thread",
    "tracing",
] }
tokio-util = "0.7"
