[package]
name = "nimiq-tendermint"
version.workspace = true
authors.workspace = true
license.workspace = true
edition.workspace = true
description = "Tendermint implementation for Nimiq's Albatross"
homepage.workspace = true
repository.workspace = true
categories.workspace = true
keywords.workspace = true

[lints]
workspace = true

[dependencies]
futures = { workspace = true }
log = { workspace = true }
rand = "0.8"
serde = "1.0"
tokio = { version = "1.41", features = [
    "macros",
    "rt-multi-thread",
    "tracing",
] }
tokio-stream = "0.1"

nimiq-collections = { workspace = true }
nimiq-utils = { workspace = true, features = ["futures"] }
nimiq-time = { workspace = true }

[dev-dependencies]
nimiq-test-log = { workspace = true }
tokio = { version = "1.41", features = [
    "macros",
    "rt-multi-thread",
    "tracing",
] }
tokio-util = "0.7"
