[package]
name = "example"
version.workspace = true
authors.workspace = true
license.workspace = true
edition.workspace = true
description = "Recursive SNARKs for Nimiq's Nano Nodes"
homepage.workspace = true
repository.workspace = true
categories.workspace = true
keywords.workspace = true

[lints]
workspace = true

[dependencies]
ark-crypto-primitives = { version = "0.4", features = ["prf", "sponge"] }
ark-ec = "0.4"
ark-ff = "0.4"
ark-groth16 = { version = "0.4", default-features = false }
ark-mnt4-753 = "0.4"
ark-mnt6-753 = "0.4"
ark-relations = "0.4"
ark-r1cs-std = "0.4"
ark-serialize = "0.4"
ark-std = "0.4"
log = { package = "tracing", version = "0.1", features = ["log", "attributes"] }
once_cell = "1.19"
parking_lot = "0.12"
rand = { version = "0.8", features = ["small_rng"] }
serde = "1.0"
thiserror = "1.0"

nimiq-block = { workspace = true }
nimiq-bls = { workspace = true }
nimiq-genesis = { workspace = true, default-features = false }
nimiq-hash = { workspace = true }
nimiq-keys = { workspace = true }
nimiq-primitives = { workspace = true, features = ["policy", "networks"] }
nimiq-serde = { workspace = true }
nimiq-zkp-circuits = { workspace = true }
nimiq-zkp-primitives = { workspace = true }

[dev-dependencies]
rand_chacha = "0.3.1"
tracing-subscriber = { version = "0.3" }

nimiq-log = { workspace = true }
nimiq-test-log = { workspace = true }
nimiq-test-utils = { workspace = true }
nimiq-zkp-circuits = { workspace = true, features = ["zkp-prover"] }

[features]
expensive-tests = []
parallel = ["nimiq-zkp-circuits/parallel", "nimiq-zkp-primitives/parallel", "ark-crypto-primitives/parallel", "ark-ec/parallel", "ark-ff/parallel", "ark-std/parallel", "ark-groth16/parallel"]
zkp-prover = ["nimiq-zkp-circuits/zkp-prover", "nimiq-zkp-primitives/zkp-prover", "ark-crypto-primitives/r1cs", "ark-mnt4-753/r1cs", "ark-mnt6-753/r1cs", "ark-groth16/r1cs"]

[[example]]
name = "setup"
path = "examples/prover/setup.rs"
required-features = ["zkp-prover", "parallel"]

[[example]]
name = "prove"
path = "examples/prover/prove.rs"
required-features = ["zkp-prover", "parallel"]
