[package]
name = "nimiq-zkp"
version = "0.1.0"
authors = ["The Nimiq Core Development Team <info@nimiq.com>"]
description = "Recursive SNARKs for Nimiq's Nano Nodes"
license = "Apache-2.0"
homepage = "https://nimiq.com"
repository = "https://github.com/nimiq/core-rs-albatross"
edition = "2021"
categories = ["cryptography::cryptocurrencies"]
keywords = ["nimiq", "cryptocurrency", "blockchain"]

[dependencies]
ark-crypto-primitives = { version = "0.4", features = ["prf", "sponge"] }
ark-ec = "0.4"
ark-ff = "0.4"
ark-groth16 = { version = "0.4", default-features = false }
ark-mnt4-753 = "0.4"
ark-mnt6-753 = "0.4"
ark-relations = "0.4"
ark-r1cs-std = "0.4"
ark-serialize = "0.4"
ark-std = "0.4"
log = { package = "tracing", version = "0.1", features = ["log", "attributes"] }
once_cell = "1.18"
parking_lot = "0.12"
rand = { version = "0.8", features = ["small_rng"] }
serde = { version = "1.0", features = ["derive"] }
thiserror = "1.0"

nimiq-block = { path = "../primitives/block" }
nimiq-bls = { path = "../bls" }
nimiq-hash = { path = "../hash" }
nimiq-keys = { path = "../keys" }
nimiq-primitives = { path = "../primitives", features = ["policy", "networks"] }
nimiq-serde = { path = "../serde" }
nimiq-zkp-circuits = { path = "../zkp-circuits" }
nimiq-zkp-primitives = { path = "../zkp-primitives" }

[dev-dependencies]
rand_chacha = "0.3.1"
tracing-subscriber = { version = "0.3" }

nimiq-log = { path = "../log" }
nimiq-test-log = { path = "../test-log" }
nimiq-test-utils = { path = "../test-utils" }
nimiq-zkp-circuits = { path = "../zkp-circuits", features = ["zkp-prover"] }

[features]
parallel = ["nimiq-zkp-circuits/parallel", "nimiq-zkp-primitives/parallel", "ark-crypto-primitives/parallel", "ark-ec/parallel", "ark-ff/parallel", "ark-std/parallel", "ark-groth16/parallel"]
zkp-prover = ["nimiq-zkp-circuits/zkp-prover", "nimiq-zkp-primitives/zkp-prover", "ark-crypto-primitives/r1cs", "ark-mnt4-753/r1cs", "ark-mnt6-753/r1cs", "ark-groth16/r1cs"]

[[example]]
name = "setup"
path = "examples/prover/setup.rs"
required-features = ["zkp-prover", "parallel"]

[[example]]
name = "prove"
path = "examples/prover/prove.rs"
required-features = ["zkp-prover", "parallel"]
