[package]
name = "nimiq-subscription"
version = "0.1.0"
authors = ["The Nimiq Core Development Team <info@nimiq.com>"]
edition = "2021"
description = "Subscription primitives to be used in Nimiq's Albatross implementation"
homepage = "https://nimiq.com"
repository = "https://github.com/nimiq/core-rs-albatross"
license = "Apache-2.0"

[badges]
travis-ci = { repository = "nimiq/core-rs", branch = "master" }

[dependencies]
bitflags = "1.0"
hex = "0.4"
log = { package = "tracing", version = "0.1", features = ["log"] }
serde = { version = "1.0", features = ["derive"] }

nimiq-bls = { path = "../../bls", features = ["serde-derive"] }
nimiq-hash = { path = "../../hash" }
nimiq-keys = { path = "../../keys" }
nimiq-macros = { path = "../../macros" }
nimiq-primitives = { path = "..", features = ["policy", "networks", "account", "coin"] }
nimiq-serde = { path = "../../serde" }
nimiq-transaction = { path = "../transaction" }
nimiq-utils = { path = "../../utils", features = ["merkle"] }

[dev-dependencies]
hex = "0.4"
