[package]
name = "nimiq-utils"
version = "0.1.0"
authors = ["The Nimiq Core Development Team <info@nimiq.com>"]
edition = "2018"
description = "Various utilities (e.g., CRC, Merkle proofs, timers) for Nimiq's Rust implementation"
homepage = "https://nimiq.com"
repository = "https://github.com/nimiq/core-rs-albatross"
license = "Apache-2.0"
categories = ["cryptography::cryptocurrencies"]
keywords = ["nimiq", "cryptocurrency", "blockchain"]

[badges]
travis-ci = { repository = "nimiq/core-rs", branch = "master" }
is-it-maintained-issue-resolution = { repository = "nimiq/core-rs" }
is-it-maintained-open-issues = { repository = "nimiq/core-rs" }
maintenance = { status = "experimental" }

[dependencies]
atomic = { version = "0.4", optional = true }

clear_on_drop = { version = "0.2", optional = true }
futures = { version = "0.1", optional = true }
hex = { version = "0.4", optional = true }
libp2p = { version = "0.39", optional = true }
log = { version = "0.4", optional = true }
parking_lot = { version = "0.11", optional = true }
rand = { version = "0.7", optional = true }
rand_core = { version = "0.5", optional = true }
serde = { version = "1.0", features = ["derive"], optional = true }
thiserror = { version = "1.0", optional = true }
tokio = { version = "0.1", optional = true }
tokio-02 = { package = "tokio", version = "1.9", features = ["sync"], optional = true }
tokio-stream = "0.1"

beserial = { path = "../beserial", optional = true }
beserial_derive = { path = "../beserial/beserial_derive", optional = true }
nimiq-collections = { path = "../collections", optional = true }
nimiq-database = { path = "../database"}
nimiq-hash = { path = "../hash", optional = true }

[dev-dependencies]
beserial_derive = { path = "../beserial/beserial_derive" }
nimiq-keys = { path = "../keys" }

[features]
crc = []
otp = ["beserial", "clear_on_drop", "nimiq-hash", "rand"]
key-store = ["beserial", "log", "thiserror"]
iterators = []
locking = ["futures", "parking_lot"]
merkle = ["beserial", "beserial_derive", "math", "nimiq-collections/bitset", "nimiq-hash"]
mutable-once = []
observer = ["log", "tokio-02"]
time = ["atomic"]
timers = ["futures", "log", "parking_lot", "tokio"]
unique-ptr = []
tagged-signing = ["beserial", "beserial_derive", "hex"]
throttled-queue = ["nimiq-collections"]
rate-limit = []
unique-id = []
# Compiles this package with all features.
all = ["crc", "iterators", "key-store", "locking", "math", "merkle", "mutable-once", "observer", "otp", "rate-limit", "throttled-queue", "time", "timers", "unique-id", "unique-ptr"]
# Compiles this package with the features needed for the nimiq client.
full-nimiq = ["crc", "iterators", "key-store", "locking", "merkle", "mutable-once", "observer", "time", "timers", "unique-ptr"]
math = []
key-rng = ["rand"]
hash-rng = ["nimiq-hash", "rand_core",]
serde-derive = ["serde"]
