[package]
name = "nimiq-rpc-interface"
version = "0.1.0"
authors = ["The Nimiq Core Development Team <info@nimiq.com>"]
license = "Apache-2.0"
edition = "2021"
description = "JSON RPC server for the Nimiq Rust implementation"
homepage = "https://nimiq.com"
repository = "https://github.com/nimiq/core-rs-albatross"
categories = ["cryptography::cryptocurrencies"]
keywords = ["nimiq", "cryptocurrency", "blockchain"]

[badges]
travis-ci = { repository = "nimiq/core-rs", branch = "master" }
is-it-maintained-issue-resolution = { repository = "nimiq/core-rs" }
is-it-maintained-open-issues = { repository = "nimiq/core-rs" }
maintenance = { status = "experimental" }

[dependencies]
ark-groth16 = { version = "0.4", default-features = false }
ark-mnt6-753 = "0.4"
async-trait = "0.1"
clap = { version = "4.3", features = ["derive"] }
futures = { package = "futures-util", version = "0.3" }
hex = "0.4"
parking_lot = "0.12"
serde = { version = "1.0", features = ["derive"] }
serde_with = "3.0"
thiserror = "1.0"

nimiq-account = { path = "../primitives/account" }
nimiq-block = { path = "../primitives/block" }
nimiq-blockchain = { path = "../blockchain" }
nimiq-blockchain-interface = { path = "../blockchain-interface" }
nimiq-blockchain-proxy = { path = "../blockchain-proxy" }
nimiq-bls = { path = "../bls", features = ["serde-derive"] }
nimiq-collections = { path = "../collections" }
nimiq-hash = { path = "../hash" }
nimiq-jsonrpc-client = { git = "https://github.com/nimiq/jsonrpc.git" }
nimiq-jsonrpc-core = { git = "https://github.com/nimiq/jsonrpc.git" }
nimiq-jsonrpc-derive = { git = "https://github.com/nimiq/jsonrpc.git" }
nimiq-keys = { path = "../keys", features = ["serde-derive"] }
nimiq-primitives = { path = "../primitives", features = ["coin", "account", "serde-derive"] }
nimiq-serde = { path = "../serde" }
nimiq-transaction = { path = "../primitives/transaction" }
nimiq-vrf = { path = "../vrf", features = ["serde-derive"] }
nimiq-zkp-component = { path = "../zkp-component" }

[dev-dependencies]
serde_json = "1.0"
