[package]
name = "nimiq-rpc-interface"
version = "0.1.0"
authors = ["The Nimiq Core Development Team <info@nimiq.com>"]
license = "Apache-2.0"
edition = "2021"
description = "JSON RPC server for the Nimiq Rust implementation"
homepage = "https://nimiq.com"
repository = "https://github.com/nimiq/core-rs-albatross"
categories = ["cryptography::cryptocurrencies"]
keywords = ["nimiq", "cryptocurrency", "blockchain"]

[badges]
travis-ci = { repository = "nimiq/core-rs", branch = "master" }
is-it-maintained-issue-resolution = { repository = "nimiq/core-rs" }
is-it-maintained-open-issues = { repository = "nimiq/core-rs" }
maintenance = { status = "experimental" }

[dependencies]
async-trait = "0.1"
hex = "0.4"
futures = { package = "futures-util", version = "0.3" }
serde = { version = "1.0", features = ["derive"] }
serde_with = "2.0"
thiserror = "1.0"
clap = { version = "4.0", features = ["derive"] }
parking_lot = { git = "https://github.com/styppo/parking_lot.git" }

beserial = { path = "../beserial" }
nimiq-account = { path = "../primitives/account", features = ["serde-derive"] }
nimiq-block = { path = "../primitives/block", features = ["serde-derive"] }
nimiq-blockchain = { path = "../blockchain" }
nimiq-bls = { path = "../bls", features = ["serde-derive"] }
nimiq-collections = { path = "../collections" }
nimiq-hash = { path = "../hash", features = ["serde-derive"] }
nimiq-jsonrpc-core = { git = "https://github.com/nimiq/jsonrpc.git" }
nimiq-jsonrpc-derive = { git = "https://github.com/nimiq/jsonrpc.git" }
nimiq-jsonrpc-client = { git = "https://github.com/nimiq/jsonrpc.git" }
nimiq-keys = { path = "../keys", features = ["serde-derive"] }
nimiq-primitives = { path = "../primitives", features = ["coin", "account", "serde-derive"] }
nimiq-transaction = { path = "../primitives/transaction", features = ["serde-derive"] }
nimiq-vrf = { path = "../vrf", features = ["serde-derive"] }

[dev-dependencies]
serde_json = "1.0"
