[package]
name = "nimiq-transaction"
version.workspace = true
authors.workspace = true
license.workspace = true
edition.workspace = true
description = "Transaction primitives to be used in Nimiq's Albatross implementation"
homepage.workspace = true
repository.workspace = true
categories.workspace = true
keywords.workspace = true

[badges]
travis-ci = { repository = "nimiq/core-rs", branch = "master" }

[lints]
workspace = true

[dependencies]
base64 = "0.22"
bitflags = { version = "2.6", features = ["serde"] }
hex = "0.4"
log = { workspace = true }
serde = "1.0"
serde_json = "1.0"
thiserror = "1.0"
tsify = { git = "https://github.com/sisou/tsify", branch = "sisou/comments", default-features = false, features = ["js"], optional = true }
url = { version = "2.5", features = ["serde"] }
wasm-bindgen = { version = "0.2", optional = true }

nimiq-bls = { workspace = true, features = ["serde-derive"] }
nimiq-database-value = { workspace = true }
nimiq-database-value-derive = { workspace = true }
nimiq-hash = { workspace = true }
nimiq-hash_derive = { workspace = true }
nimiq-keys = { workspace = true, features = ["serde-derive"] }
nimiq-macros = { workspace = true }
nimiq-mmr = { workspace = true, features = ["serde-derive"] }
nimiq-network-interface = { workspace = true }
nimiq-primitives = { workspace = true, features = ["account", "coin", "networks", "policy", "serde-derive", "slots", "tendermint"] }
nimiq-serde = { workspace = true }
nimiq-utils = { workspace = true, features = ["merkle"] }

[dev-dependencies]
serde_json = "1.0"

nimiq-test-log = { workspace = true }
nimiq-test-utils = { workspace = true }


[features]
ts-types = ["tsify", "wasm-bindgen"]
