[package]
name = "nimiq-transaction"
version = "0.1.0"
authors = ["The Nimiq Core Development Team <info@nimiq.com>"]
edition = "2018"
description = "Transaction primitives to be used in Nimiq's Albatross implementation"
homepage = "https://nimiq.com"
repository = "https://github.com/nimiq/core-rs-albatross"
license = "Apache-2.0"

[badges]
travis-ci = { repository = "nimiq/core-rs", branch = "master" }

[dependencies]
bitflags = "1.0"
hex = "0.4"
log = "0.4"
serde = { version = "1.0", optional = true }
strum_macros = "0.20"
thiserror = "1.0"

beserial = { path = "../../beserial" }
beserial_derive = { path = "../../beserial/beserial_derive" }
nimiq-bls = { path = "../../bls", features = ["serde-derive"] }
nimiq-hash = { path = "../../hash", features = ["serde-derive"] }
nimiq-keys = { path = "../../keys", features = ["serde-derive"] }
nimiq-macros = { path = "../../macros" }
nimiq-primitives = { path = "..", features = ["account", "coin", "networks", "policy", "serde-derive"] }
nimiq-utils = { path = "../../utils", features = ["merkle"] }

[dev-dependencies]
hex = "0.4"

[features]
serde-derive = ["serde"]