[package]
name = "nimiq-tools"
version.workspace = true
authors.workspace = true
license.workspace = true
edition.workspace = true
description = "Tools for Nimiq's Rust implementation"
homepage.workspace = true
repository.workspace = true
categories.workspace = true
keywords.workspace = true

[lints]
workspace = true

[[bin]]
name = "nimiq-bls"
path = "src/bls/main.rs"

[[bin]]
name = "nimiq-address"
path = "src/address/main.rs"

[[bin]]
name = "nimiq-signtx"
path = "src/signtx/main.rs"

[[bin]]
name = "nimiq-rpc-schema"
path = "src/rpc-schema/main.rs"

[dependencies]
anyhow = "1.0"
convert_case = "0.6"
clap = { version = "4.5", features = ["cargo"] }
hex = "0.4"
log = { package = "tracing", version = "0.1", features = ["log"] }
open-rpc-schema = "0.0.4"
quote = "1.0"
rand = "0.8"
serde_json = "1.0"
syn = { version = "2.0", features = ["full"] }
thiserror = "1.0"

nimiq-bls = { workspace = true }
nimiq-hash = { workspace = true }
nimiq-keys = { workspace = true }
nimiq-primitives = { workspace = true }
nimiq-serde = { workspace = true }
nimiq-transaction = { workspace = true }
nimiq-utils = { workspace = true }
