[package]
name = "nimiq-trie"
version = "0.1.0"
authors = ["The Nimiq Core Development Team <info@nimiq.com>"]
edition = "2021"
description = "Merkle radix trie primitive for Nimiq's Rust implementation"
homepage = "https://nimiq.com"
repository = "https://github.com/nimiq/core-rs-albatross"
license = "Apache-2.0"
categories = ["cryptography::cryptocurrencies"]
keywords = ["nimiq", "cryptocurrency", "blockchain"]

[dependencies]
hex = "0.4"
log = { package = "tracing", version = "0.1", features = ["log"] }
serde = { version = "1.0", features = ["derive"] }
thiserror = "1.0"

nimiq-database = { path = "../../database" }
nimiq-hash = { path = "../../hash" }
nimiq-primitives = { path = "..", features = ["key-nibbles", "serde-derive", "trie"] }
nimiq-serde = { path = "../../serde" }

[dev-dependencies]
nimiq-test-log = { path = "../../test-log" }
