[package]
name = "nimiq-web-client"
version = "0.1.0"
authors = ["The Nimiq Core Development Team <info@nimiq.com>"]
edition = "2021"
description = "Nimiq's Rust-to-WASM web client"
homepage = "https://nimiq.com"
repository = "https://github.com/nimiq/core-rs-albatross"
license = "Apache-2.0"
categories = ["cryptography::cryptocurrencies"]
keywords = ["nimiq", "cryptocurrency", "blockchain", "proof-of-stake"]

[badges]
is-it-maintained-issue-resolution = { repository = "nimiq/core-rs-albatross" }
is-it-maintained-open-issues = { repository = "nimiq/core-rs-albatross" }
maintenance = { status = "experimental" }

[lib]
crate-type = ["cdylib"]

[dependencies]
futures = "0.3"
futures-util = "0.3"
hex = "0.4"
js-sys = "0.3"
log = { package = "tracing", version = "0.1", features = ["log"] }
serde = { version = "1.0", features = ["derive"] }
serde-wasm-bindgen = "0.5"
tsify = { version = "0.4", features= ["js"] }
wasm-bindgen = "0.2"
wasm-bindgen-futures = "0.4"
wasm-bindgen-derive = { version = "0.2", optional = true }
wasm-timer = "0.2"
web-sys = { version = "0.3.22", features = ["MessageEvent"]}

nimiq-account = { path = "../primitives/account", default-features = false }
nimiq-block = { path = "../primitives/block" }
nimiq-blockchain-interface = { path = "../blockchain-interface" }
nimiq-blockchain-proxy = { path = "../blockchain-proxy", default-features = false }
nimiq-consensus = { path = "../consensus", default-features = false }
nimiq-hash = { path = "../hash" }
nimiq-keys = { path = "../keys" }
nimiq-network-interface = { path = "../network-interface" }
nimiq-primitives = {path = "../primitives", features = ["coin", "networks", "ts-types"]}
nimiq-serde = { path = "../serde" }
nimiq-transaction = { path = "../primitives/transaction", features = ["ts-types"] }
nimiq-transaction-builder = { path = "../transaction-builder" }

[dependencies.nimiq]
package = "nimiq-lib"
path = "../lib"
version = "0.1"
default-features = false
features = [
    "panic",
    "wasm-websocket",
    "web-logging",
]

[dev-dependencies]
parking_lot = "0.12"
wasm-bindgen-test = "0.3"

serde = { version = "1.0" , features = ["derive"] }
nimiq-bls = {path = "../bls"}
nimiq-blockchain-proxy = {path = "../blockchain-proxy", default-features = false}
nimiq-consensus = {path = "../consensus", default-features = false}
nimiq-genesis = { path = "../genesis", default-features = false }
nimiq-light-blockchain = {path = "../light-blockchain"}
nimiq-network-interface = {path = "../network-interface"}
nimiq-network-mock = {path = "../network-mock"}
nimiq-zkp-component = {path = "../zkp-component", default-features = false}

[features]
client = []
default = ["client", "primitives"]
primitives = ["wasm-bindgen-derive"]
