[package]
name = "nimiq-web-client"
version.workspace = true
authors.workspace = true
license.workspace = true
edition.workspace = true
description = "Nimiq's Rust-to-WASM web client"
homepage.workspace = true
repository.workspace = true
categories.workspace = true
keywords.workspace = true

[badges]
is-it-maintained-issue-resolution = { repository = "nimiq/core-rs-albatross" }
is-it-maintained-open-issues = { repository = "nimiq/core-rs-albatross" }
maintenance = { status = "experimental" }

[lib]
crate-type = ["cdylib"]

[dependencies]
futures = "0.3"
futures-util = "0.3"
hex = "0.4"
js-sys = "0.3"
log = { package = "tracing", version = "0.1", features = ["log"] }
serde = "1.0"
serde-wasm-bindgen = "0.5"
tsify = { git = "https://github.com/sisou/tsify", branch = "sisou/comments", default-features = false, features = ["js"] }
wasm-bindgen = "0.2"
wasm-bindgen-futures = "0.4"
wasm-bindgen-derive = { version = "0.2", optional = true }
wasm-timer = "0.2"
web-sys = { version = "0.3.64", features = ["MessageEvent"]}

nimiq-account = { workspace = true, default-features = false }
nimiq-block = { workspace = true }
nimiq-blockchain-interface = { workspace = true }
nimiq-blockchain-proxy = { workspace = true, default-features = false }
nimiq-bls = { workspace = true }
nimiq-consensus = { workspace = true, default-features = false }
nimiq-hash = { workspace = true }
nimiq-keys = { workspace = true }
nimiq-network-interface = { workspace = true }
nimiq-primitives = { workspace = true, features = ["coin", "networks", "ts-types"] }
nimiq-serde = { workspace = true }
nimiq-transaction = { workspace = true, features = ["ts-types"] }
nimiq-transaction-builder = { workspace = true }

[dependencies.nimiq]
package = "nimiq-lib"
path = "../lib"
version = "0.1"
default-features = false
features = [
    "panic",
    "wasm-websocket",
    "web-logging",
]

[dev-dependencies]
parking_lot = "0.12"
serde = "1.0"
wasm-bindgen-test = "0.3"

nimiq-bls = { workspace = true }
nimiq-blockchain-proxy = { workspace = true, default-features = false }
nimiq-consensus = { workspace = true, default-features = false }
nimiq-genesis = { workspace = true, default-features = false }
nimiq-light-blockchain = { workspace = true }
nimiq-network-interface = { workspace = true }
nimiq-network-mock = { workspace = true }
nimiq-zkp-component = { workspace = true, default-features = false }

[features]
client = []
default = ["client", "primitives"]
primitives = ["wasm-bindgen-derive"]
