[package]
name = "nimiq-rpc-client"
version = "0.1.0"
authors = ["The Nimiq Core Development Team <info@nimiq.com>"]
license = "Apache-2.0"
edition = "2021"
description = "JSON RPC client for the Nimiq Rust implementation"
homepage = "https://nimiq.com"
repository = "https://github.com/nimiq/core-rs-albatross"
categories = ["cryptography::cryptocurrencies"]
keywords = ["nimiq", "cryptocurrency", "blockchain"]

[[bin]]
name = "nimiq-rpc"
path = "src/main.rs"

[badges]
travis-ci = { repository = "nimiq/core-rs", branch = "master" }
is-it-maintained-issue-resolution = { repository = "nimiq/core-rs" }
is-it-maintained-open-issues = { repository = "nimiq/core-rs" }
maintenance = { status = "experimental" }

[dependencies]
anyhow = "1.0"
clap = { version = "3.1", features = ["derive"] }
dotenv = "0.15"
futures = "0.3"
tokio = { version = "1.18", features = [
    "macros",
    "rt-multi-thread",
    "tracing",
] }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
url = "2.2"

nimiq-account = { path = "../primitives/account" }
nimiq-bls = { path = "../bls" }
nimiq-hash = { path = "../hash" }
nimiq-jsonrpc-client = { git = "https://github.com/nimiq/jsonrpc.git" }
nimiq-jsonrpc-core = { git = "https://github.com/nimiq/jsonrpc.git" }
nimiq-keys = { path = "../keys" }
nimiq-primitives = { path = "../primitives" }
nimiq-rpc-interface = { path = "../rpc-interface" }
nimiq-transaction = { path = "../primitives/transaction" }
