[package]
name = "nimiq-rpc-client"
version.workspace = true
authors.workspace = true
license.workspace = true
edition.workspace = true
description = "JSON RPC client for the Nimiq Rust implementation"
homepage.workspace = true
repository.workspace = true
categories.workspace = true
keywords.workspace = true

[badges]
travis-ci = { repository = "nimiq/core-rs", branch = "master" }
is-it-maintained-issue-resolution = { repository = "nimiq/core-rs" }
is-it-maintained-open-issues = { repository = "nimiq/core-rs" }
maintenance = { status = "experimental" }

[lints]
workspace = true

[[bin]]
name = "nimiq-rpc"
path = "src/main.rs"

[dependencies]
async-trait = "0.1"
anyhow = "1.0"
clap = { version = "4.4", features = ["derive"] }
dotenv = "0.15"
futures = { package = "futures-util", version = "0.3" }
tokio = { version = "1.32", features = [
    "macros",
    "rt-multi-thread",
    "tracing",
] }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
url = "2.5"

nimiq-account = { workspace = true }
nimiq-bls = { workspace = true }
nimiq-hash = { workspace = true }
nimiq-jsonrpc-client = { workspace = true, features = ["http-client", "websocket-client"] }
nimiq-jsonrpc-core = { workspace = true }
nimiq-keys = { workspace = true }
nimiq-primitives = { workspace = true }
nimiq-rpc-interface = { workspace = true }
nimiq-transaction = { workspace = true }
