[package]
name = "nimiq-rpc-client"
version = "0.1.0"
authors = ["The Nimiq Core Development Team <info@nimiq.com>"]
license = "Apache-2.0"
edition = "2021"
description = "JSON RPC server for the Nimiq Rust implementation"
homepage = "https://nimiq.com"
repository = "https://github.com/nimiq/core-rs-albatross"
categories = ["cryptography::cryptocurrencies"]
keywords = ["nimiq", "cryptocurrency", "blockchain"]

[[bin]]
name = "nimiq-rpc"
path = "src/bin/client.rs"
required-features = ["app"]

[badges]
travis-ci = { repository = "nimiq/core-rs", branch = "master" }
is-it-maintained-issue-resolution = { repository = "nimiq/core-rs" }
is-it-maintained-open-issues = { repository = "nimiq/core-rs" }
maintenance = { status = "experimental" }

[dependencies]
url = "2.2"
futures = "0.3"

nimiq-jsonrpc-core = { git = "https://github.com/nimiq/jsonrpc.git" }
nimiq-jsonrpc-client = { git = "https://github.com/nimiq/jsonrpc.git" }
nimiq-rpc-interface = { path = "../rpc-interface" }

# Needed for the command line app
anyhow = { version = "1.0", optional = true }
clap = { version = "3.0", features = ["derive"], optional = true }
dotenv = { version = "0.15", optional = true }
nimiq-account = { path = "../primitives/account", optional = true }
nimiq-bls = { path = "../bls", optional = true }
nimiq-hash = { path = "../hash", optional = true }
nimiq-keys = { path = "../keys", optional = true }
nimiq-primitives = { path = "../primitives", optional = true }
nimiq-transaction = { path = "../primitives/transaction", optional = true }
tokio = { version = "1.16", features = [
    "macros",
    "rt-multi-thread",
    "tracing",
], optional = true }
tracing-subscriber = { version = "0.3", features = ["env-filter"], optional = true }

[features]
default = ["app"]
app = [
    "anyhow",
    "clap",
    "dotenv",
    "nimiq-account",
    "nimiq-bls",
    "nimiq-hash",
    "nimiq-keys",
    "nimiq-primitives",
    "nimiq-transaction",
    "tokio",
    "tracing-subscriber",
]
