[package]
name = "nimiq-keys"
version = "0.1.0"
authors = ["Pascal B <git@paberr.net>", "The Nimiq Core Development Team <info@nimiq.com>"]
edition = "2021"
description = "Ed25519 cryptographic key handling and signatures for Nimiq"
homepage = "https://nimiq.com"
repository = "https://github.com/nimiq/core-rs-albatross"
license = "Apache-2.0"
categories = ["cryptography::cryptocurrencies"]
keywords = ["nimiq", "cryptocurrency", "blockchain"]

[badges]
travis-ci = { repository = "nimiq/core-rs", branch = "master" }
is-it-maintained-issue-resolution = { repository = "nimiq/core-rs" }
is-it-maintained-open-issues = { repository = "nimiq/core-rs" }
maintenance = { status = "experimental" }

[dependencies]
curve25519-dalek = "3"
ed25519-zebra = { git = "https://github.com/nimiq/ed25519-zebra.git", branch = "main" }
data-encoding = "2.1"
thiserror = "1.0"
hex = "0.4"
rand_core = "0.6"
rand = "0.8"
sha2 = "0.10"
serde = { version = "1.0", optional = true }

beserial = { path = "../beserial" }
beserial_derive = { path = "../beserial/beserial_derive" }
nimiq-database = { path = "../database" }
nimiq-hash = { path = "../hash" }
nimiq-macros = { path = "../macros" }
nimiq-utils = { path = "../utils", features = ["key-rng"] }

[features]
serde-derive = ["serde"]
