name: Build + Test

on:
  - push
  - pull_request

jobs:

  rustfmt:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v3
    - uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: cargo-${{ hashFiles('**/Cargo.toml') }}
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true
        components: rustfmt
    - uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: --all -- --check

  test:
    runs-on: ubuntu-22.04

    steps:
    - name: "Free up disk space"
      run: sudo rm -rf /usr/share/dotnet && sudo rm -rf /opt/ghc && sudo rm -rf "/usr/local/share/boost" && sudo rm -rf "$AGENT_TOOLSDIRECTORY"
    - uses: actions/checkout@v3
    - uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: cargo-${{ hashFiles('**/Cargo.toml') }}
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true
        components: llvm-tools-preview
    - name: Install Protoc
      run: sudo apt-get install protobuf-compiler
    - name: Install cargo-llvm-cov
      uses: actions-rs/cargo@v1
      with:
        command: install
        args: cargo-llvm-cov
    - name: Remove possible stale artifacts
      uses: actions-rs/cargo@v1
      with:
        command: llvm-cov
        args: clean --workspace
    - name: Run test with coverage instrumentation
      uses: actions-rs/cargo@v1
      with:
        command: llvm-cov
        # Fixme: --doctest is not supported in stable. See:
        # https://github.com/taiki-e/cargo-llvm-cov/tree/7448e48b438797efb446a98ebd8ff22d3fae5ebe#known-limitations
        #args: --all-features --doctests
        args: --all-features
    - name: Generate coverage report
      uses: actions-rs/cargo@v1
      with:
        command: llvm-cov
        args: report --lcov --output-path coverage.lcov
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        files: coverage.lcov
        fail_ci_if_error: false
        flags: unittests
        name: Nimiq code coverage
        verbose: true

  clippy:
    if: github.event_name != 'push' || github.event.pusher.name != 'dependabot[bot]'
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v3
    - uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: cargo-${{ hashFiles('**/Cargo.toml') }}
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true
        components: clippy
    - name: Install Protoc
      run: sudo apt-get install protobuf-compiler
    - uses: actions-rs/clippy-check@v1
      with:
        name: Clippy Report
        token: ${{ secrets.GITHUB_TOKEN }}
        args: --release --all-features

  web-client:
    runs-on: ubuntu-22.04

    steps:
    - name: "Free up disk space"
      run: sudo rm -rf /usr/share/dotnet && sudo rm -rf /opt/ghc && sudo rm -rf "/usr/local/share/boost" && sudo rm -rf "$AGENT_TOOLSDIRECTORY"
    - uses: actions/checkout@v3
    - uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: cargo-${{ hashFiles('**/Cargo.toml') }}
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true
    - name: Install Protoc
      run: sudo apt-get install protobuf-compiler
    - name: Install wasm-pack
      uses: actions-rs/cargo@v1
      with:
        command: install
        args: wasm-pack
    - name: Compile to wasm and generate bindings
      working-directory: ./web-client
      run: wasm-pack build --target web
    - name: Execute wasm unittests
      working-directory: ./web-client
      run: wasm-pack test --node

  reconnect-test:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.8'
    - name: Install python dependencies
      run: pip install scripts/devnet
    - uses: actions/cache@v3
      with:
        path:
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: cargo-${{ hashFiles('**/Cargo.toml') }}
    - name: Set up Rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true
    - name: Install Protoc
      run: sudo apt-get install protobuf-compiler
    - uses: actions-rs/cargo@v1
      with:
        command: build
    - name: Executes the 4 validators reconnecting scenario
      run: |
          python3 scripts/devnet/devnet.py -t .github/devnet_topologies/four_validators.toml -r 1
    - name: Archive test results
      if: always()
      uses: actions/upload-artifact@v3
      with:
          name: reconnect-test-logs
          path: |
            temp-logs/
