name: Four validators scenario

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:
    default: "default"

jobs:

  reconnect-test:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path:
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: cargo-${{ hashFiles('**/Cargo.toml') }}
    - name: Set up Rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: nightly
        override: true
    - uses: actions-rs/cargo@v1
      with:
        command: build
    - name: Executes the 4 validators reconnecting scenario
      run: |          
          cd test-scenarios
          bash four_validators.sh
    - name: Archive test results
      if: always()
      uses: actions/upload-artifact@v2
      with:
          name: reconnect-test-logs
          path: |
            test-scenarios/temp-logs/

  erase-state-test:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path:
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: cargo-${{ hashFiles('**/Cargo.toml') }}
    - name: Set up Rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: nightly
        override: true
    - uses: actions-rs/cargo@v1
      with:
        command: build
    - name: Executes the 4 validators reconnecting scenario erasing all their state
      run: |          
          cd test-scenarios
          bash four_validators.sh -e
    - name: Archive test results
      if: always()
      uses: actions/upload-artifact@v2
      with:
          name: erase-state-test
          path: |
            test-scenarios/temp-logs/

  erase-database-test:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path:
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: cargo-${{ hashFiles('**/Cargo.toml') }}
    - name: Set up Rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: nightly
        override: true
    - uses: actions-rs/cargo@v1
      with:
        command: build
    - name: Executes the 4 validators reconnecting scenario eraseing their database
      run: |          
          cd test-scenarios
          bash four_validators.sh -d
    - name: Archive test results
      if: always()
      uses: actions/upload-artifact@v2
      with:
          name: erase-db-test
          path: |
            test-scenarios/temp-logs/
