[package]
name = "nimiq-spammer"
version.workspace = true
authors.workspace = true
license.workspace = true
edition.workspace = true
description = "Nimiq's Rust client"
homepage.workspace = true
repository.workspace = true
categories.workspace = true
keywords.workspace = true
exclude = ["db", "peer_key.dat"]

[badges]
travis-ci = { repository = "nimiq/core-rs", branch = "master" }
is-it-maintained-issue-resolution = { repository = "nimiq/core-rs" }
is-it-maintained-open-issues = { repository = "nimiq/core-rs" }
maintenance = { status = "experimental" }

[lints]
workspace = true

[dependencies]
clap = { version = "4.5", features = ["derive"] }
futures = { workspace = true }
log = { package = "tracing", version = "0.1", features = ["log"] }
rand = "0.8.5"
serde = "1.0"
tokio = { version = "1.37", features = ["rt-multi-thread", "time", "tracing"] }
tokio-metrics = { version = "0.3" }
toml = "0.8"

nimiq-block = { workspace = true }
nimiq-blockchain = { workspace = true }
nimiq-blockchain-interface = { workspace = true }
nimiq-keys = { workspace = true }
nimiq-mempool = { workspace = true }
nimiq-primitives = { workspace = true, features = ["coin", "networks"] }
nimiq-transaction = { workspace = true }
nimiq-transaction-builder = { workspace = true }

[dependencies.nimiq]
package = "nimiq-lib"
path = "../lib"
version = "0.1"
features = [ "database-storage", "deadlock", "full-consensus", "logging", "metrics-server", "panic", "rpc-server", "signal-handling", "tokio-websocket", "validator", "wallet"]
